.basic-container {
    padding: 30px;
}

.example-spacer {
    flex: 1 1 auto;
}

.link {
    color: inherit;
    padding-top: 10px;
}

table {
    width: 100%;
}

.cfab {
    bottom: 70px;
    left: 130px;
    margin-right: 10px;
}